.details-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.main-head {
    padding: 6px;
    margin: 15px 0px 25px 0px;
    font-weight: 500;
}

.res-image {
    height: 500px;
    border-radius: 8px;
    padding-top: 12px;
    padding-bottom: 12px;

}

.res-image:hover {
    animation: ease-in-out;
    border: 0.1rem solid rgb(232, 232, 232);
    border-color: rgb(232, 232, 232);
    box-shadow: rgb(28 28 28 / 12%) 0px 0.4rem 1.8rem;
    box-sizing: border-box;
}

.details-text {
    /* line-height: 2; */
    color: rgb(105, 105, 105);
    margin: 10px 0px 2px;
    text-align: left;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
}

.details-text:hover {
    font-weight: 600;
}

.details-card {
    background-color: #d8f3f8;
    border-radius: 5px;
}

.checked {
    color: rgb(36, 150, 63);
    padding: 2px;
}

@media only screen and (max-width: 600px) {
    .res-image {
        border: 1px solid rgb(232, 232, 232);
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 768px) {
    .res-image {
        border: 1px solid rgb(232, 232, 232);
        margin-bottom: 15px;
    }

}

.align-btn {
    align-items: center;
}