.details-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.main-head {
    padding: 6px;
}

.res-image {
    height: 500px;
    border-radius: 8px;
    padding-top: 12px;
    padding-bottom: 12px;

}

.res-image:hover {
    animation: ease-in-out;
    border: 0.1rem solid rgb(232, 232, 232);
    border-color: rgb(232, 232, 232);
    box-shadow: rgb(28 28 28 / 12%) 0px 0.4rem 1.8rem;
    box-sizing: border-box;
}

.details-text {
    line-height: 2;
    /* color: rgb(105, 105, 105); */
    margin: 0px;
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

.details-card {
    background-color: #d8f3f8;
    border-radius: 5px;
}

.timings {
    margin-left: 30px;
}