.container {
    display: grid;
    grid-template: repeat(2, 300px) / repeat(3, 300px);
    gap: 5px 10px;
    justify-content: center;
    background-color: #fefefe;
}

.main-heading {
    font-family: Okra, Helvetica, sans-serif;
    color: rgb(28, 28, 28);
    font-size: 3rem;
    margin: 1rem 0px 3.2rem;
    line-height: 1.2;
    font-weight: 500;
}